<header class="header">
  <div class="">
    <div class="site-header">
      <!-- Top header -->
      <nav class="navbar">
        <div class="container">
          <div class="col-2">
            <a href="" class="navbar-brand">Batokatravel</a>
          </div>
          <div
            class="col-8 d-none d-lg-block border-0 rounded-2 px-3 bg-body-tertiary"
          >
            <form class="d-flex" role="search">
              <div class="d-flex w-100">
                <div class="dropdown border-end border-2 me-3">
                  <button
                    class="btn dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Tất cả chuyến du lịch
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="catelogies">Vietnam</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="catelogies">Thailand </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="catelogies">Australia </a>
                    </li>
                  </ul>
                </div>
                <div class="position-relative w-100">
                  <input
                    class="form-control me-2 border-0 bg-body-tertiary"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                  />
                  <a href="catelogies" class="nav-link">
                    <i
                      class="bi bi-search position-absolute top-50 end-0 translate-middle"
                    ></i
                  ></a>
                </div>
              </div>
            </form>
          </div>
          <div class="col-2 d-none d-lg-flex justify-content-end">
            <a class="nav-link" href="cart"
              ><i class="bi bi-cart me-4 fs-4"></i
            ></a>
            <a class="nav-link" href="signin"
              ><i class="bi bi-person-circle fs-4"></i
            ></a>
          </div>
          <div class="d-block d-lg-none">
            <i class="fa-solid fa-bars fs-4"></i>
          </div>
        </div>
      </nav>
      <!-- Top header end -->
      <!-- Menu Header -->
      <ul class="nav bg-success p-2 d-none d-lg-block">
        <div class="container d-flex">
          <li class="nav-item">
            <a
              class="nav-link active text-white ps-0 fs-5"
              aria-current="page"
              href="home"
              >Trang chủ</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fs-5" href="#">Giới thiệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fs-5" href="contact">Liên hệ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fs-5" href="blog">Bài viết</a>
          </li>
          <div class="dropdown">
            <button
              class="btn btn-success dropdown-toggle fs-5"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Chuyến đi
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item fs-5" href="catelogies">Vietnam</a>
              </li>
              <li>
                <a class="dropdown-item fs-5" href="catelogies">Thailand </a>
              </li>
              <li>
                <a class="dropdown-item fs-5" href="catelogies"
                  >Australia
                </a>
              </li>
            </ul>
          </div>
          <li class="nav-item">
            <a class="nav-link text-white fs-5" href="#">Quản trị</a>
          </li>
        </div>
      </ul>
      <!-- Menu Header End -->
    </div>
  </div>
</header>
